<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <!-- Form Title -->
  <h2 class="form-title">Register</h2>

  <!-- Full Name -->
  <div class="form-field">
    <label for="fullName" class="form-label">Full Name</label>
    <input id="fullName" type="text" formControlName="fullName" class="form-input">

    @if (registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid) {
      <div class="form-error">
        @if (registerForm.get('fullName')?.hasError('required')) {
          Name is required.
        } @else if (registerForm.get('fullName')?.hasError('minlength')) {
          Name must be at least 3 characters.
        }
      </div>
    }
  </div>

  <!-- Email -->
  <div class="form-field">
    <label for="email" class="form-label">Email</label>
    <input id="email" type="email" formControlName="email" class="form-input">

    @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
      <div class="form-error">
        @if (registerForm.get('email')?.hasError('required')) {
          Email is required.
        } @else if (registerForm.get('email')?.hasError('email')) {
          Invalid email format.
        }
      </div>
    }
  </div>

  <!-- Password -->
  <div class="form-field">
    <label for="password" class="form-label">Password</label>
    <input id="password" type="password" formControlName="password" class="form-input">

    @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
      <div class="form-error">
        @if (registerForm.get('password')?.hasError('required')) {
          Password is required.
        } @else if (registerForm.get('password')?.hasError('minlength')) {
          Password must be at least 8 characters.
        }
      </div>
    }
  </div>

  <!-- Confirm Password -->
  <div class="form-field">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-input">

    @if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')) {
      <div class="form-error">
       Please confirm your password.
      </div>
    }

    @if (registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
      <div class="form-error">
        Passwords do not match.
      </div>
    }
  </div>

  <!-- Submit -->
  <button class="register-btn" type="submit" [disabled]="registerForm.invalid">
    Register
  </button>
</form>
